pandas==2.2.2
numpy==1.26.4
scikit-learn==1.5.1
nltk==3.9.1
emoji==2.12.1
autocorrect==2.6.1
joblib==1.4.2
fastapi==0.111.0
uvicorn==0.30.6
scikit-learn==1.5.1
joblib==1.4.2
pydantic==2.7.4
streamlit==1.36.0
requests==2.32.3
spacy==3.7.5

